@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf);
}

.nav {
  padding: 30px 0;
  &__logo {
    padding-right: 54px;
  }
  &__main {
    gap: 40px;
    &--link {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #111111;
    }
  }
  &__link {
    gap: 20px;
    position: relative;
    z-index: 11;
    &--text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
    &--png {
      padding-right: 10px;
    }
  }
  &__btn {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background: linear-gradient(89.77deg, #ff7a00 0.2%, #ffb039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    padding: 15px 30px;
  }
}
.bg {
  background: #2b7af1;
  border-radius: 0px 0px 0px 10px;
  height: 100vh;
  max-width: 750px;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0;
}
.bground {
  background: #2b7af1;
  height: 100vh;
  position: absolute;
  max-width: 300px;
  width: 100%;
  top: 0px;
  left: 0;
  &__item {
    padding-top: 50px;
    text-align: center;
  }
  .item1 {
    padding-top: 150px;
  }
}
.minu-btn {
  position: absolute;
  right: 20px;
  padding: 5px;
}
@media screen and (max-width: 992px) {
  .nav__btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .bg {
    width: 50%;
  }
  .nav__logo {
    padding-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .nav {
    &__btn{

      display: none;
    }
    &__link{
      &--png{
        padding: 0;
      }
    }
  }
  .bg{
    width: 33%;
    height: 15vh;
  }
 .minu-btn{
  right: 80px;
  z-index: 12;
 }
}
